// GENERAL
.full {
  height: 100%;
  width: 100%;
}


// FLEX
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-cl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-tl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-bl {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-tc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.flex-col-sbc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.flex-col-tl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-col-bl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.flex-col-br {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

// IMAGE
.st_image {
  z-index: 0;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Clerk
// .cl-footer {
//   display: none;
// }
.cl-cardBox {
  box-shadow: none;
  border: .5px solid rgb(var(--color-brand-primary) / .25)
}