:root {
  // LAYOUT
  --layout-width: min(1224px, 100%);
  --layout-padding: 50px;
  @media (max-width: 1200px) {
    --layout-padding: 25px;
  }
  @media (max-width: 592px) {
    // --layout-padding: 15px;
  }
}